---
layout: page
title: Tags
permalink: tags
---

<!-- TODO: strip whitespaces -->
{% assign sorted_tags = site.tags | sort %}
{% for tag in sorted_tags %}
    {% assign tag_name = tag[0] %}
    {% assign tag_posts = tag[1] | sort: 'date' | reverse %}
    <details>
        <summary>
            <strong>{{ tag_name }}</strong> - {{ tag_posts.size }} post{% if tag_posts.size > 1 %}s{% endif %}
        </summary>
        <ul>
            {% for post in tag_posts %}
                <li>
                    <a href="{{ post.url }}">{{ post.title }}</a>
                    <small>{{ post.date | date: "%B %-d, %Y" }}</small>
                </li>
            {% endfor %}
        </ul>
    </details>
{% endfor %}
