{%- if page.related_tags or page.unrelated_tags -%}
  {%- assign related_posts = site.posts | where_exp: "post", "post.url != page.url" -%}
  {%- if page.series -%}
    {%- assign related_posts = related_posts | where_exp: "post", "post.series != page.series" -%}
  {%- endif -%}
  {%- assign filtered_posts = '' | split: '' -%}
  
  {%- for post in related_posts -%}
    {%- assign is_related = true -%}
    
    {%- if page.related_tags -%}
      {%- for required_tag in page.related_tags -%}
        {%- unless post.tags contains required_tag -%}
          {%- assign is_related = false -%}
          {%- break -%}
        {%- endunless -%}
      {%- endfor -%}
    {%- endif -%}
    
    {%- if is_related and page.unrelated_tags -%}
      {%- for unrelated_tag in page.unrelated_tags -%}
        {%- if post.tags contains unrelated_tag -%}
          {%- assign is_related = false -%}
          {%- break -%}
        {%- endif -%}
      {%- endfor -%}
    {%- endif -%}
    
    {%- if is_related -%}
      {%- assign filtered_posts = filtered_posts | push: post -%}
    {%- endif -%}
  {%- endfor -%}
  
  {%- if filtered_posts.size > 0 -%}
    <div class="related-posts">
      <h4>Related posts:</h4>
      <ul>
        {%- for post in filtered_posts -%}
          <li>
            {%- include post-link.html post=post show_published_date=true -%}
          </li>
        {%- endfor -%}
      </ul>
    </div>
  {%- endif -%}
{%- endif -%}