{%- if page.tags -%}
  {%- assign related_posts = site.posts | where_exp: "post", "post.url != page.url" -%}
  {%- if page.series -%}
    {%- assign related_posts = related_posts | where_exp: "post", "post.series != page.series" -%}
  {%- endif -%}
  {%- assign filtered_posts = '' | split: '' -%}
  
  {%- for post in related_posts -%}
    {%- assign tag_match_count = 0 -%}
    {%- for tag in page.tags -%}
      {%- if post.tags contains tag -%}
        {%- assign tag_match_count = tag_match_count | plus: 1 -%}
      {%- endif -%}
    {%- endfor -%}
    
    {%- assign current_tags_match = tag_match_count == page.tags.size -%}
    {%- assign post_tags_match = tag_match_count == post.tags.size -%}
    {%- if current_tags_match or post_tags_match -%}
      {%- assign filtered_posts = filtered_posts | push: post -%}
    {%- endif -%}
  {%- endfor -%}
  
  {%- if filtered_posts.size > 0 -%}
    <div class="related-posts">
      <h4>Related posts:</h4>
      <ul>
        {%- for post in filtered_posts -%}
          <li>
            {%- include post-link.html post=post show_published_date=true -%}
          </li>
        {%- endfor -%}
      </ul>
    </div>
  {%- endif -%}
{%- endif -%}