{%- if page.related_tags -%}
  {%- assign related_posts = site.posts | where_exp: "post", "post.url != page.url" -%}
  {%- assign filtered_posts = '' | split: '' -%}
  
  {%- for post in related_posts -%}
    {%- assign has_tag = false -%}
    {%- for tag in post.tags -%}
      {%- if page.related_tags contains tag -%}
        {%- assign has_tag = true -%}
        {%- break -%}
      {%- endif -%}
    {%- endfor -%}
    
    {%- if has_tag -%}
      {%- assign filtered_posts = filtered_posts | push: post -%}
    {%- endif -%}
  {%- endfor -%}
  
  {%- if filtered_posts.size > 0 -%}
    <div class="related-posts">
      <h4>Related posts:</h4>
      <ul>
        {%- for post in filtered_posts -%}
          <li>
            {%- include post-link.html post=post show_published_date=true -%}
          </li>
        {%- endfor -%}
      </ul>
    </div>
  {%- endif -%}
{%- endif -%}
