{%- if page.series -%}
    <div class="series-navigation">
        <h4>This post is part of the "{{ page.series | replace: '-', ' ' | capitalize }}" series:</h4>
        <ul>
            {%- for post in series_posts -%}
            <li>
                {%- if post.url == page.url -%}
                    <strong>Part {{ post.series_part }}: {%- include post-link.html post=post show_published_date=true -%} (Current)</strong>
                {%- else -%}
                    Part {{ post.series_part }}: {%- include post-link.html post=post show_published_date=true -%}
                {%- endif -%}
            </li>
            {%- endfor -%}
        </ul>
    </div>
{%- endif -%}
